<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="FirstTestSuite" parallel="tests" thread-count="2">


	<listeners>
		<listener class-name="com.dice.utils.Listeners.TestListener"></listener>
	</listeners>
	<test name="LogInTest-CH">
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class name="com.dice.test.LoginTest">
				<methods>
					<include name="positiveLoginTest"></include>
				</methods>
			</class>

		</classes>
	</test>


	<test name="LogInTest-FF">
		<parameter name="browser" value="firefox"></parameter>
		<classes>
			<class name="com.dice.test.LoginTest"></class>
		</classes>

	</test>

</suite>
